<div class="mt-4 flex items-center justify-center">

  <div class="bg-white p-8 md:p-12 lg:p-16 rounded-lg w-[65%] mx-auto text-center relative max-sm:w-[95%]">
    <p class="text-sm text-primary font-semibold mb-2">READY TO GET STARTED</p>
    <h2 class="text-4xl max-sm:text-3xl font-bold text-gray-800 mb-4">Get The Latest Insurance News In Minutes</h2>
    <p class="text-gray-600 mb-8 w-[85%] mx-auto">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed placerat elementum.
      Urna eu et purus et mi sit rhoncus.
    </p>
    <form class="flex flex-col sm:flex-row items-center justify-center w-[80%] mx-auto">
      <input type="email" placeholder="Email address"
        class="w-full sm:w-auto flex-grow px-4 py-2 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-green-600 focus:border-transparent"
        required>
      <button type="submit"
        class="w-full sm:w-auto px-6 py-2 bg-primary text-white font-semibold transition-colors">
        <svg class="w-5 h-5 inline self-center" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <line x1="22" y1="12" x2="8" y2="12" fill="none" stroke="#fff" stroke-miterlimit="10" />
            <polygon points="22 12 4 21 8 12 4 3 22 12" fill="none" stroke="#fff" stroke-miterlimit="10" />
          </svg>
        <span class="ml-1">Subscribe</span>
      </button>
    </form>
    <img src="../../../assets/imgs/cta-vector-1.png" alt="Leaf"
      class="max-lg:hidden w-16 h-16 absolute top-[200px] left-2">
    <img src="../../../assets/imgs/cta-vector-2.png" alt="Leaf"
      class="max-lg:hidden w-28 h-28 absolute right-0 bottom-[100px]">
  </div>

</div>