<div class="bg-[#F3F8F9] mt-8 flex items-center justify-center">

  <div class="bg-gray-100 p-8 lg:p-12 text-gray-800 w-full">
    <div class="max-w-6xl mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">

      <div class=" lg:relative lg:right-16">
        <h2 class="text-4xl font-bold text-primary mb-4">Logo</h2>
        <p class="text-gray-700"><span class="font-semibold">Location:</span> Isr Street girlt awam juim</p>
        <p class="text-gray-700"><span class="font-semibold">Contact:</span> +9 5555559909</p>
        <p class="text-gray-700"><span class="font-semibold">Time:</span> (9am - 5pm EST, Monday - Friday)</p>
        <p class="text-gray-700"><span class="font-semibold">Email:</span> youme.com</p>
      </div>

      <div>
        <h3 class="text-2xl font-bold text-gray-800 mb-4">Company</h3>
        <ul class="space-y-2 text-gray-600">
          <li><a href="#" class="hover:text-primary">Case Studies</a></li>
          <li><a href="#" class="hover:text-primary">Case Details</a></li>
          <li><a href="#" class="hover:text-primary">Privacy Policy</a></li>
          <li><a href="#" class="hover:text-primary">Services</a></li>
        </ul>
      </div>

      <div>
        <h3 class="text-2xl font-bold text-gray-800 mb-4">Explore</h3>
        <ul class="space-y-2 text-gray-600">
          <li><a href="#" class="hover:text-primary">About Us</a></li>
          <li><a href="#" class="hover:text-primary">Blog And News</a></li>
          <li><a href="#" class="hover:text-primary">Blog Details</a></li>
          <li><a href="#" class="hover:text-primary">Pricing</a></li>
        </ul>
      </div>

      <div>
        <h3 class="text-2xl font-bold text-gray-800 mb-4">Insurance</h3>
        <ul class="space-y-2 text-gray-600">
          <li><a href="#" class="hover:text-primary">Health Insurance</a></li>
          <li><a href="#" class="hover:text-primary">Car Insurance</a></li>
          <li><a href="#" class="hover:text-primary">Business Insurance</a></li>
          <li><a href="#" class="hover:text-primary">Life Insurance</a></li>
        </ul>
      </div>
    </div>
  </div>

</div>